<div class="panel panel-default">
    <div class="panel-heading">Gestion des Produits</div>
    <div class="panel-body">
        <div>
            <button class="btn btn-success" (click)="onNewProd()">
                Add Product<span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <div *ngIf="mode=='list'">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                <tr *ngFor="let p of products._embedded.products">
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td><button class="btn btn-danger" (click)="deleteProd(p)">Delete</button></td>
                </tr>
            </table>
        </div>

        <div *ngIf="mode=='new-prod'">
            <form #f="ngForm" (ngSubmit)="addProd(f.value)">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" name="name" ngModel class="form-control">
                </div>

                <div class="form-group">
                    <label class="control-label">Price</label>
                    <input type="text" name="price" ngModel class="form-control">
                </div>

                <div class="form-group">
                    <label class="control-label">Select Category</label>
                    <select class="form-control" name="categoryId" class="form-control" ngModel>
                        <option>C1</option>
                        <option>C2</option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Add Product</button>
            </form>
        </div>
    </div>
</div>